@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

body, html {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif !important;
    scroll-behavior: smooth;
}

.container-fluid{
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#intro{
    text-align: center;
    min-height: 85vh;
    padding-top: 20px;
}

#aboutme, #main{
    min-height: 100vh;
    width: 100%;
}

/*NAV BAR*/
#nav {
    width: 100%;
    background-color: #AFD3E8;
    position: fixed;
    z-index: 1;
    top: -100px;
    transition: top 0.3s;
}

.nav-item:first-child {
    float: left;
    font-weight: 600%;
    font-size: 20px;
}

.nav-item {
    color: black;
    text-decoration: none;
    font-size: 20px;
    padding: 20px;
    float: right;
    opacity: 0.75;
}

.nav-item:hover {
    color: #2a2d34;
    transition: 0.5s;
    text-decoration: none;
}


.nav-item:hover:after {
    transform: scaleX(1);
}

.nav-item::after {
    display: block;
    content: '';
    border-bottom: solid 3px #E6B1BC;
    transform: scaleX(0);
    transition: 350ms ease-in-out;
    transform-origin: 0% 50%;
}

.header {
    padding-top: 100px;
    margin-bottom: 20px;
}


/* MAIN PAGE */
#title {
    font-style: normal;
    font-size: 600%;
    line-height: 135px;
    text-align: center;
    font-weight: 1000%;
}

#app {
    font-style: normal;
    font-size: 22px;
    line-height: 36px;
    text-align: center;
    color: #E6B1BC;
}


/* ARROW */
.arrow
{
  position: relative;
  bottom: -1rem;
  left: 50%;
  margin-left:-20px;
  width: 40px;
  height: 40px;

  /**
   * Dark Arrow Down
   */
  background-image: url("assets/images/arrow-down-sign-to-navigate.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.bounce {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.arrow:hover{
    cursor: pointer;
}


/* ABOUT */

#about-header {
    color: #E6B1BC;
}

#pic {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#image {
    height: 50vh;
    width: 50vh;
    background-color: #E6B1BC;
    background-image: url("assets/images/me.jpg");
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: center center;
}

/* EDUCATION */
#education{
    align-items: flex-start;
    margin-bottom: auto;
    margin-top: 0;
}

/*PROJECT*/
.project {
    height: 60vh;
    width: 60vh;
    margin: 20px;
    position: relative;
    align-items: center;
    justify-content: center;
    align-content: center;
    border-radius: 15px;
}

#tax {
    background-color: #B1BCE6;
    background-image: url("assets/images/taxes.png");
    background-size: 65%;
    background-repeat: no-repeat;
    background-position: center center;
}

#sorting {
    background-color: #B7E5DD;
    background-image: url("assets/images/bar-chart.png");
    background-size: 65%;
    background-repeat: no-repeat;
    background-position: center center;
}

#networking {
    background-color: #E6B1BC;
    background-image: url("assets/images/network.png");
    background-size: 65%;
    background-repeat: no-repeat;
    background-position: center center;
}

#pet {
    background-color: #F1F0C0;
    background-image: url("assets/images/bone.png");
    background-size: 65%;
    background-repeat: no-repeat;
    background-position: center center;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: white;
}

.project:hover .overlay {
    opacity: 0.9;
}

.img-description {
    color: #333333;
    text-align: center;
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}


/* FOOTER */
.footer{
    background-color: #eee;
    width: 100%;
    text-align: center;
}

#footer-links *{
    padding: 0 7px;
}

#footer-links{
    margin: 10px;
}

#footer-links a{
    font-size: 16px;
    color: #575757;
}
#copyright{
    font-size: 12px;
    color: #333;
}